body, html {
    margin: 0;
    padding: 0;
    background-color: #ffeef0;
    height: 100%;
}

header {
    text-align: center;
    background-color: #ffeef0;
    padding: 8px 0;
    max-width: 100%;
}

.logomobile {
    max-width: 60%;
    height: auto;
    justify-content:center;
    display:center;
    margin-left:20%;
}



/* Для анимации: */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* CSS-эффект поворота!!!!!!!*/
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header, .menu, .content, .footer {
    animation: fadeInUp 1s ease-out;
}
@media (min-width:1024px) {
    @media (max-width:1300px) {
        nav a {
            margin-left: 5px; /* Увеличиваем отступ слева для текста вкладок */
        }
    }
}

/* для панели навигации:*/


/* Адаптивность панели навигации:*/

/* МАЛЕНЬКИЕ ЭКРАНЫ*/
@media (max-width: 376px) {
    .menu h1 {
        font-size: 70%;
    }

    .menu h2 {
        font-size: 60%;
    }

    .menu h3 {
        font-size: 55%;
    }

    .menu a {
        font-size: 45%;
    }

    nav a {
        font-size: 6px;
        margin-left:2px;
    }

    nav input[type="text"] {
        padding: 2px;
        width: 120%;
        height: 100%;
        font-size: 7px;
        margin-left: 10px;
    }

    nav button {
        width: 20%;
        padding: 2px 4px;
        font-size: 7px;
        padding: 3px;
    }
}

@media only screen and (max-width: 480px) {
    input[type="number"]::placeholder {
        font-size: 7px; /* Уменьшаем размер шрифта для placeholder */
    }
}

@media only screen and (max-width: 480px) {
    form[name="auth"] {
        font-size: 7px; /* Уменьшаем размер шрифта */
        margin-left: 0; /* Убираем отрицательный отступ слева */
        margin-top: 0%; /* Уменьшаем отступ сверху */
    }
}

@media (max-width: 376px) {
    input[type="number"] {
        font-size: 7px; /* Уменьшаем размер шрифта для мобильных устройств */
        max-width: 100px; /* Уменьшаем максимальную ширину поля ввода */
        height: 10px;
        width: 17px;
    }
}



/* БОЛЬШИЕ ЭКРАНЫ */
@media (min-width: 377px) {
    nav a {
        font-size: 115%; /* Задаем больший размер шрифта */
    }

    .menu h1 {
        font-size: 250%;
    }

    .menu h2 {
        font-size: 155%;
    }

    .menu h3 {
        font-size: 135%;
    }

    .menu a {
        font-size: 125%;
    }

    nav input[type="text"] {
        padding: 1%; /* Уменьшаем внутренние отступы */
        width: 400px; /* Задаем ширину поля ввода */
        height: 26px;
        margin: 1%;
    }


}
/* УРА ЭТО МЕНЮ МЕНЮ МЕНЮ */
.menu {
    background-image: url( "https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666333827_48-mykaleidoscope-ru-p-ottenki-rozovogo-tsveta-oboi-49.jpg");
    background-size: cover; /* означает, что блок будет закрыт картинкой - конкретно тут надписью "cathome"*/
    position: relative;
    max-width: 100%;
    margin-top: 0.5%; /* расстояние между панелькой навигации и меню*/
    text-align: center;
    padding: 2% 2% 2% 2%; /* расстояния между элементами внутри*/
}
/* ЭТА ШТУКА ОТВЕЧАЕТ ЗА ШРИФТ В МЕНЮ*/
.menu-content {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Arial', cursive;
    text-shadow: 1px 1px 0px #f395b6;
}

.menu h1, .menu h2, .menu h3 {
    margin: 1.5%;
}

.menu nav {
    margin-top: 2%;
}

.menu a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

h1 {
    font-family: 'Lobster';
}

.form-container {
    display: flex;
    justify-content: center; /* Центрируем формы по горизонтали внутри контейнера */
    gap: 1px;
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
    flex-wrap: wrap; /* Разрешаем элементам переноситься на новую строку при необходимости */
    margin-top: 3%;
    margin-left: -1px;
}

.search-form {
    background-color: #ffeef0;
    padding: 1%;
    border-radius: 10px;
    margin-right: 1%;
    margin-left: 0%;
    width: 20%; /* Устанавливаем ширину формы */
    max-width: 230px; /* Максимальная ширина формы */
}

.form-group {
    margin-bottom: 5%; /* Расстояние между элементами внутри формы */
}

label {
    display: block;
    font-size: 19px;
    font-family: 'Niconne', cursive;
}

select, button {
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 17px;
    margin-top: 5%;
}

button {
    background-color: #f78eb3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Niconne', cursive;
}

    button:hover {
        background-color: #f6acc6;
    }

/* Медиа-запрос для мобильных устройств, например, iPhone X */
@media (max-width: 376px) {
    .search-form {
        width: 21%; /* Уменьшаем ширину формы */
        padding: 1px; /* Уменьшаем отступы внутри формы */
    }

    select, button {
        font-size: 25%; /* Уменьшаем размер шрифта */
    }

    label {
        display: block;
        font-size: 25%;
    }

    .filter_label {
        font-size: 35%;
    }
    .form-container {
        margin-left: -12px;
    }
}


@media (min-width:376px) {
    @media (max-width:1024px) {
        .search-form {
            width: 15%; /* Уменьшаем ширину формы */
            padding: 5px; /* Уменьшаем отступы внутри формы */
        }

        select, button {
            font-size: 100%; /* Уменьшаем размер шрифта */
        }

        label {
            display: block;
            font-size: 100%;
        }
        .form-container {
            margin-left: -80px;
        }
        nav a {
            font-size: 15px;
            margin-left: 2px;
        }
    }
}


/* Стили для контейнера с изображениями и подписями */
.animal-container {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    margin-top: 3px;
    padding: 1px;
    justify-content: flex-start;
    position: center;
    margin-left: 10%;
}

.animal {
    width: 20%; /* Ширина контейнера с изображением */
    text-align: center;
    margin: 0 1%; /* Уменьшаем горизонтальные отступы между контейнерами */
}

    .animal img {
        width: 100%; /* Изображение занимает всю ширину контейнера */
        border-radius: 10px;
       
    }

    .animal p {
        margin-top: 5px; /* Увеличиваем отступ между изображением и подписью */
        font-size: 20px;
        font-family: 'Niconne', cursive;
    }

/* Медиа-запрос для адаптивности */
@media (max-width: 768px) {
    .animal {
        width: 20%; /* Изображения занимают большую ширину на мобильных устройствах */
        margin-bottom: 5px;
    }

        .animal p {
            margin-top: 1px;
            padding: 1%;
            font-size: 7px;
            font-family: 'Niconne', cursive;
        }
}




/* СТИЛИ ДЛЯ ОБЪЯВЛЕНИЙ ОБЪЯВЛЕНИЯ ОБЪЯВЛЕНИЯ */

.container {
    width: 80%;
    max-width: 900px; /* Максимальная ширина контейнера для управления шириной на больших экранах */
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: relative;
    left: 5%; /* Отступ справа */
    margin-top: 2%;
    border-radius: 10px;
}
.pet-ad {
    display: flex;
    border-radius: 10px;
}

.pet-image {
    border-radius: 10px;
    flex: 1;
    padding-right: 20px;
    max-width: 220px; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

    .pet-image img {
        display: block;
        max-width: 100%; /* Максимальная ширина изображения внутри контейнера */
        max-height: 250px; /* Максимальная высота изображения */
        width: auto; /* Автоматическая ширина для сохранения пропорций */
        height: auto; /* Автоматическая высота для сохранения пропорций */
        object-fit: cover; /* Заполнение изображения в рамках размеров контейнера */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

.pet-details {
    flex: 2;
}

h2 {
    text-align: center;
    margin-top:5px;

}

.price {
    font-weight: bold;
    font-size: 22px;
    color: #fe70a4;
    font-family: 'Arial', cursive;
}

.description {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Arial', cursive;
}

.accordion {
    background-color: #f6b1ca;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 64%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    margin-top: 8px;
    font-size: 18px;
    text-align:center;
    margin-left:15%;
}

.panel {
    padding: 5px;
    display: none;
    background-color: #fffcfd;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Arial', cursive;
}
                        /* */
@media (max-width: 376px) {
    header {
        padding: 5px 0;
        max-width: 100%;
    }
    .container {
        position: relative;
        width: 100%;
        max-width: 330px;
        min-height: 200px;
        margin: 0 auto; /* Центрирование контейнера по горизонтали */
        padding: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        position: relative;
        left: 0%; /* Отступ справа */
        margin-top: 2%;
    }
    .description {
        margin-bottom: 3px;
        font-size:14px;
    }
    .accordion {
        padding: 2px;
        font-size: 14px;
        margin-top:1px; 
    }
    h2 {
        text-align: center;
        font-size:14px;
    }
    .price {
        font-weight: bold;
        font-size:17px;
    }
    .panel {
        padding: 2px;
        display: none;
        background-color: #f9f9f9;
        font-size: 14px;
    }
    .pet-image {
        border-radius: 10px;
        flex: 1;
        padding-right: 20px;
        max-width: 220px; /* Максимальная ширина изображения */
        height: auto; /* Автоматическая высота для сохранения пропорций */
    }

        .pet-image img {
            position:relative;
            display: block;
            max-width: 110%; /* Максимальная ширина изображения внутри контейнера */
            max-height: 450px; /* Максимальная высота изображения */
            width: auto; /* Автоматическая ширина для сохранения пропорций */
            height: auto; /* Автоматическая высота для сохранения пропорций */
            object-fit: cover; /* Заполнение изображения в рамках размеров контейнера */
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
}
@media (max-width: 376px) {
    header {
        padding: 5px 0;
        max-width: 100%;
    }

    .container {
        position: relative;
        width: 90%;
        max-width: 300px;
        min-height: 180px;
        margin: 0 auto;
        padding: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pet-ad {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .pet-image {
        border-radius: 10px;
        width: 100%;
        height: 120%;
        margin-bottom: 12px;
        margin-left: 80px;
    }

        .pet-image img {
            width: 80%;
            height:100%;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .pet-details {
        width: 100%;
        font-size:17px;

    }

    h2 {
        text-align: center;
        font-size: 18px;
        width: 70%;
        margin-left:50px;
    }

    .price {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    .description {
        margin-bottom: 3px;
        font-size: 14px;
        text-align: left;
        width: 90%;
        margin-left:30px;

    }

    .accordion {
        margin-top:5px;
        padding: 7px;
        font-size: 15px;
        width: 86%;
        text-align: center;
        margin-left: 25px;
    }

    .panel {
        padding: 2px;
        display: none;
        background-color: #f9f9f9;
        font-size: 14px;
        width: 100%;
    }

    .form-row {
        text-align: center;
        width: 100%;
    }

        .form-row label {
            display: block;
            width: 100%;
            margin: 0;
            text-align: center;
        }

        .form-row input,
        .form-row textarea {
            width: 80%;
            margin: 0 auto;
            display: block;
        }

    .reserve-button {
        margin: 10px 0;
    }

    .reservation-form {
        width: 100%;
    }

        .reservation-form button {
            width: 100%;
        }
}


@media (min-width:376px) {
    @media (max-width:1024px) {
        .container {
            width: 60%;
            max-width: 580px; /* Максимальная ширина контейнера для управления шириной на больших экранах */
            margin: 0 auto; /* Центрирование контейнера по горизонтали */
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            position: relative;
            left: 12%; /* Отступ справа */
            margin-top: 2%;
        }
    }
}

.form-container {
    display: flex;
    justify-content: center; /* Центрируем формы по горизонтали внутри контейнера */
    gap: 1px;
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
    flex-wrap: wrap; /* Разрешаем элементам переноситься на новую строку при необходимости */
}

.search-form {
    background-color: #ffeef0;
    padding: 1%;
    border-radius: 10px;
    margin-right: 1%;
    margin-left: 1px;
    width: 250px; /* Устанавливаем ширину формы */
    max-width: 250px; /* Максимальная ширина формы */
}

.form-group {
    margin-bottom: 5%; /* Расстояние между элементами внутри формы */
}

label {
    display: block;
    font-size: 19px;
    font-family: 'Niconne', cursive;
}

select, button {
    width: 100%;
    padding: 3%;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 17px;
    margin-top: 5%;
}

button {
    background-color: #f78eb3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Niconne', cursive;
}

    button:hover {
        background-color: #f6acc6;
    }

/* Медиа-запрос для мобильных устройств, например, iPhone X */
@media (max-width: 376px) {
    .form-group {
        margin-bottom: 2%; /* Расстояние между элементами внутри формы */

    }
    .search-form {
        width: 65px; /* Уменьшаем ширину формы */
        padding: 0px; /* Уменьшаем отступы внутри формы */
    }

    select, button {
        font-size: 6.5px; /* Уменьшаем размер шрифта */
        padding: 2%;
        margin-top: 1%;
    }

    label {
        display: block;
        font-size: 7px; /* шрифт вопросов перед полями формами*/
    }

    .filter_label {
        font-size: 7px; /* шрифт надписи "Цены"*/
    }
}


@media (min-width:376px) {
    @media (max-width:1024px) {
        select, button {
            padding: 3%;
        }

        .search-form {
          width: 300px; /* Уменьшаем ширину формы */
          padding: 0px; /* Уменьшаем отступы внутри формы */
        }

        select, button {
            font-size: 100%; /* Уменьшаем размер шрифта */
        }

        label {
            display: block;
            font-size: 100%;
        }
    }
}


/*КПОПКА РЕЗЕРВИРОВАНИЯ*//*КПОПКА РЕЗЕРВИРОВАНИЯ*//*КПОПКА РЕЗЕРВИРОВАНИЯ*//*КПОПКА РЕЗЕРВИРОВАНИЯ*/
/* Стили для модальных окон */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

    .modal form {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 10px;
        border: 1px solid #888;
        width: 50%;
        margin-top:-4%;
        padding-top:5%;
    }

    .modal h2 {
        text-align: center;
    }

    .modal input {
        width: 50%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .modal button {
        width: 54%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        margin-top:2%;
        margin-bottom:3%;
    }

        .modal button:hover {
            opacity: 0.8;
        }

    .modal p {
        font-size: 22px;
        text-align: center;
    }
    .modal h3{
        text-align:center;
        
    }


/* для svg:*/
.modal-content {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
}


/* Стили для мобильных устройств (iPhone и т. д.) */
@media only screen and (max-width:376px) {
    svg.smiley-svg {
        width: 300px; /* Измените размер SVG для мобильных устройств */
        height: 300px;
    }

    .modal form {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 10px;
        border: 1px solid #888;
        width: 80%;
        height: 40%;
        margin-top: -4%;
        padding-top: 5%;
        font-size: 22px;
    }
}
@keyframes wink {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Определение анимации для мигания глаза */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.reserve-button {
    width: 425px;
    text-align: center;
    position: center;
    margin-left: 15%;
    font-size:18px;
}



#meetingDate,
#meetingTime {
    width: 100px; /* Уменьшаем ширину для умещения на узком экране */
    align-items: center;
    text-align: center;
    position: center;
}
#message {
    width: 400px; /* Уменьшаем ширину для умещения на узком экране */
    height: 100px; /* Уменьшаем высоту для умещения на узком экране */
    align-items: center;
    text-align: center;
    position: center;
    font-size:18px;
}

/* Уменьшаем размер кнопки "Отправить" */
.reservation-form button[type="submit"] {
    align-items: center;
    text-align: center;
    width: 60%;
    justify-content:center;
    position: center;
    margin-left:20%;
}

.reservation-form h3 {
    align-items: center;
    text-align: center;
    position:center;
}
.form-row {
    display: flex; /* Используем Flexbox для элементов в строке */
    align-items: center; /* Выравнивание по центру по вертикали */
    margin-bottom: 8px; /* Расстояние между строками */
}

    /* Стили для меток в строке формы */
    .form-row label {
        margin-right: 10px; /* Расстояние между меткой и полем ввода */
        min-width: 50px; /* Минимальная ширина метки */
    }

    /* Стили для полей ввода в строке формы */
    .form-row input,
    .form-row textarea {
        flex: 0.38; /* Растягиваем поле ввода на всю доступную ширину */
    }
    .form-row textarea {
        flex: 1; /* Растягиваем поле ввода на всю доступную ширину */
    }


/* кнопка резервации для среднего экрана айпада:*/
@media (min-width:376px) {
    @media (max-width:1024px) {
        .reserve-button { /* кнопка резервации*/
            font-size: 18px;
            padding: 8px;
            width: 244px;
            text-align: center;
            position: center;
            margin-left: 53px;
        }
        /* форма регистрации*/
        .modal input {
            width: 50%;
            padding: 10px;
            margin-bottom: 10px;
        }

        .modal button {
            width: 54%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        .modal p {
            font-size: 18px;
        }

        .modal h2 {
            font-size: 20px;
        }

        .modal form {
            margin-top: -6%;
            padding-top: 6%;
        }
    }
}

/* Медиа-запрос для мобильных устройств, например, iPhone X */
@media (max-width: 376px) {
    .reserve-button {
        font-size: 16px;
        padding: 5px;
        width: 260px;
        text-align: center;
        position: center;
        margin-left: 24px;
        border-radius: 3px;
        margin-top: 5px;

    }
    /* Уменьшаю SVG окно */
    .modal-content {
        background-color: #ffffff;
        text-align: center;
        padding: 2px;
        border-radius: 5px;
        max-width: 150px;
        margin: auto;
    }
    /* форма регистрации*/
    .modal input {
        width: 80px;
        height: 6px;
        padding: 2px;
        margin-bottom: 2px;
    }

    .modal button {
        width: 90px;
        padding: 4px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    .modal p {
        font-size: 8px;
    }

    .modal h2 {
        font-size: 8px;
    }

    .modal form {
        margin-top: -6%;
        padding-top: 6%;
    }

    .reservation-form{
        width:140px;
        font-size:8px;
        padding:1px;
    }


    .form-row {
        display: flex; /* Используем Flexbox для элементов в строке */
        align-items: center; /* Выравнивание по центру по вертикали */
        margin-bottom: 6px; /* Расстояние между строками */
        margin-right: 8px;
    }

        /* Стили для меток в строке формы */
        .form-row label {
            margin-right: 10px; /* Расстояние между меткой и полем ввода */
            min-width: 30px; /* Минимальная ширина метки */
            margin-left:1px;
        }
        .form-row message {
            margin-right: 5px; 
            position: center;
        }

        /* Стили для полей ввода в строке формы */
        .form-row input {
            flex: 2; /* Растягиваем поле ввода на всю доступную ширину */
            font-size:5px;

        }

        .form-row textarea {
            flex: 1; /* Растягиваем поле ввода на всю доступную ширину */
            margin-right:-1px;
            position:center;
        }
}

@media (max-width: 376px) {
    /* Уменьшаем размер шрифта для текста ввода и меток */
    .reservation-form label,
    .reservation-form input,
    .reservation-form textarea,
    .reservation-form button {
        font-size: 14px; /* Примерно 14px для удобства ввода на маленьком экране */
        align-items: center;
        text-align: center;
        padding: 2px;
        margin-bottom: 1px;
    }
    reservation-form{
        align-content:center;
    }
    /* Уменьшаем размеры полей ввода для даты и времени */
    #meetingDate,
    #meetingTime {
        width: 50px; /* Уменьшаем ширину для умещения на узком экране */
        font-size: 14px;
        align-items: center;
        text-align: center;
        margin-left: -20px;
        padding: 8px;
        margin-bottom:1px;

    }

    /* Уменьшаем размеры текстовой области для комментария */
    #message {
        width: 120px; /* Уменьшаем ширину для умещения на узком экране */
        height: 30px; /* Уменьшаем высоту для умещения на узком экране */
        align-items: center;
        text-align: center;
        padding: 1px;
        margin-bottom: 1px;
        margin-left: 1px;
        margin-left: 10px;
    }

    /* Уменьшаем размер кнопки "Отправить" */
    .reservation-form button[type="submit"] {
        font-size: 7px; /* Уменьшаем размер шрифта */
        align-items: center;
        text-align: center;
        padding: 5px;
        margin-bottom: 1px;
        width: 70px;
        margin-left: 80px;
    }
    .reservation-form h3 {
        margin-left: 16px;
        padding: 2px;
        margin-bottom: 1px;
        margin-top: 1px;
    }
}

@media only screen and (max-width: 376px) {
    /* Уменьшить размер шрифта для полей ввода */
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="password"] {
        font-size: 13px; /* Здесь указывается желаемый размер шрифта */
    }
}




/* начинаем адаптивность*/

/* Отображение иконки "бургера" при маленьких экранах */
@media (max-width: 768px) {
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu {
        display: none;
    }
}



/* Мобильное меню */
.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

.burger-line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    margin-left: -10px;
    margin-right: 10px;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 50px;
    left: 40px;
    background-color: #fff;
    padding: 10px;
    z-index: 9999; /* Высокий z-index для отображения поверх всех элементов */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

    .mobile-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

        .mobile-menu ul li {
            padding: 8px 0;
            text-decoration: none;
        }

/* Отображение иконки "бургера" и скрытие десктопного меню на маленьких экранах */
@media (max-width: 376px) {
    .mobile-menu-icon {
        display: block;
    }

    .desktop-menu {
        display: none;
    }

    .menu-content .button7 {
        font-weight:100;
        font-size: 15px;
        display: grid;
        padding: 11px;
        margin-bottom: 18px;
        justify-content: center;
        list-style: none; /* Убираем маркеры списка */
        text-decoration: none;
    }

    .menu-content .button_a_demo_two {
        display: grid;
        padding: 9px;
        justify-content: center;
        text-decoration: none;
    }


    .mobile-menu.mobile-menu-open {
        display: block;
    }
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}




/* Скрыть форму по умолчанию на мобильных устройствах */
@media (max-width: 376px) {
    .form-container {
        display: none;
    }

    .form-toggle-btn {
        display: block;
        width: 50%;
        padding: 10px;
        background-color: #f395b6;
        color: #fff;
        text-align: center;
        cursor: pointer;
        font-size: 18px;
        position: relative;
        margin: 5px 23% 8%;
        border-radius: 5px;
        justify-content: center;
    }

    .menu a {
        display: grid;
        padding: 1.5%;
    }
}

@media (min-width: 377px) {
    .form-toggle-btn {
        display: none;
    }
}

@media (min-width: 377px) {
    .nav {
        display: none;
    }
}


/* Медиазапросы для мобильных устройств */
@media (max-width: 767px) {
    .footer .table {
        display: block;
    }

    .footer th, .footer td {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 18px; /* Увеличиваем шрифт */
    }

    .footer th {
        margin-top: 10px;
    }

    .footer td {
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
    }

    .contact-item {
        text-align: center;
        width: 100%;
        font-size: 18px; /* Увеличиваем шрифт */
    }

        .contact-item h3 {
            font-size: 1.4em; /* Увеличиваем шрифт заголовков */
        }

        .contact-item p {
            margin-bottom: 10px;
        }
}

/* Отображение иконки "бургера" при маленьких экранах */
@media (max-width: 768px) {
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu {
        display: none;
    }
}



/* Мобильное меню */
/* Мобильное меню */
.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

.burger-line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 50px;
    left: 40px;
    background-color: #fff;
    padding: 10px;
    z-index: 9999;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .mobile-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .mobile-menu ul li {
            padding: 8px 0;
        }

/* Отображение иконки "бургера" и скрытие десктопного меню на маленьких экранах */
@media (max-width: 376px) {
    .mobile-menu-icon {
        display: block;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu.mobile-menu-open {
        display: block;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav.desktop-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

    nav.desktop-menu ul li {
        margin: 0 15px;
    }

        nav.desktop-menu ul li a {
            text-decoration: none;
        }

nav.search-form ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

    nav.search-form ul li {
        margin-left: 15px;
    }



/* Основные стили для формы поиска */
header nav form {
    display: flex; /* Располагает элементы формы в строку */
    align-items: center; /* Выравнивает элементы по вертикали */
}

    /* Стили для текстового поля поиска */
    header nav form input[type="text"] {
        width: 500px; /* Ширина текстового поля */
        height:40px;
        padding: 10px; /* Внутренние отступы */
        border: 1px solid #ccc; /* Граница */
        border-radius: 10px; /* Скругление углов */
        font-size: 16px; /* Размер шрифта */
        box-sizing: border-box; /* Включает отступы и границы в общую ширину */
        margin-right: 10px; /* Отступ справа для разделения с кнопкой */
    }

    /* Стили для кнопки "Найти" */
    header nav form button {
        padding: 10px 20px 10px 10px; /* Внутренние отступы (вертикальные и горизонтальные) */
        border: none; /* Убираем границу */
        border-radius: 5px; /* Скругление углов */
        font-size: 16px; /* Размер шрифта */
        cursor: pointer; /* Курсор в виде руки при наведении */
    }

@media (max-width: 376px) {
    header nav form {
        display: flex; /* Располагает элементы формы в строку */
        align-items: center; /* Выравнивает элементы по вертикали */
    }
    
        /* Стили для текстового поля поиска */
        header nav form input[type="text"] {
            width: 220px; /* Ширина текстового поля */
            height: 30px;
            padding: 10px; /* Внутренние отступы */
            border: 1px solid #ccc; /* Граница */
            border-radius: 5px; /* Скругление углов */
            font-size: 16px; /* Размер шрифта */
            box-sizing: border-box; /* Включает отступы и границы в общую ширину */
            margin-right: 10px; /* Отступ справа для разделения с кнопкой */
        }

        /* Стили для кнопки "Найти" */
        header nav form button {
            padding: 8px 8px 8px 8px; /* Внутренние отступы (вертикальные и горизонтальные) */
            border: none; /* Убираем границу */
            border-radius: 5px; /* Скругление углов */
            font-size: 15px; /* Размер шрифта */
            cursor: pointer; /* Курсор в виде руки при наведении */
        }

}

/* Media queries */
body {
    font-family: Arial, sans-serif;
    margin: 0; /* Убираем отступы */
}

.burger-menu {
    position: absolute; /* Фиксированное позиционирование */
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
    display: none; /* Скрываем по умолчанию */
 /* Поверх других элементов */
}

    .burger-menu input {
        display: none;
    }

.burger-lines {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-content {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}

    .menu-content ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .menu-content ul li {
            padding: 10px 20px;
            text-align: left;
        }

            .menu-content ul li a {
                text-decoration: none;
                color: #333;
                font-weight: bold;
            }

.burger-menu input:checked ~ .menu-content {
    display: block;
}

/* Media queries */
@media (max-width: 768px) {
    .burger-menu {
        display: inline-block; /* Показываем на мобильных устройствах */
    }
}
@media only screen and (max-width:376px) {
    svg.smiley-svg {
        width: 150px; /* Измените размер SVG для мобильных устройств */
        height: 150px;
    }

    .modal form {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 10px;
        border: 1px solid #888;
        width: 80%;
        height: auto;
        padding-top: 5%;
        font-size: 22px;
    }

    .modal h2 {
        text-align: center;
        font-size: 16px;
    }

    .modal input {
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 22px;
    }

    .modal button {
        width: 100%;
        height: auto;
        padding: 6px;
        background-color: #fc86af;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 2%;
        margin-bottom: 3%;
        font-size: 16px;
        justify-content:center;
    }

        .modal button:hover {
            opacity: 0.8;
        }

    .modal p {
        font-size: 16px;
        text-align: center;
    }

    .modal h3 {
        text-align: center;
        font-size: 16px;
    }
}

@media (max-width: 376px) {
    /* Уменьшаем размер шрифта для текста ввода и меток */
    .modal label, .modal input, .modal textarea {
        font-size: 15px; /* Примерно 14px для удобства ввода на маленьком экране */
        align-items: center;
        text-align: center;
    }
    

    .reservation-form {
        width: 100%;
    }  
    .reservation-form label {
        width: 100%;
    }


}
/* Применить стили только для мобильных устройств */
@media only screen and (max-width: 376px) {
    /* Увеличить размер кнопки и текста */
    .reservation-form button[type="submit"] {
        font-size: 14px; /* Изменить размер текста */
        width:70%;
        padding: 8px; /* Увеличить отступы кнопки */
        margin-left:45px;
    }
    .reserve-close {
        position: absolute;
        top: 150%;
        left:286px;
        cursor: pointer;
        font-size: 20px;
    }
}
/* Применить стили только для мобильных устройств */
@media only screen and (max-width: 376px) {
    /* Увеличить размер полей ввода для даты и времени */
    .reservation-form input[type="date"],
    .reservation-form input[type="time"] {
        font-size: 18px; /* Изменить размер шрифта */
        padding: 15px; /* Увеличить внутренние отступы */
        width: 90%; /* Увеличить ширину поля */
    }
}
@media only screen and (max-width: 812px) {
    /* Установить размер шрифта для надписи "Форма резервации" */
    .reservation-form h3 {
        font-size: 14px; /* Изменить размер шрифта */
    }
}



@media (max-width: 376px) {
    .logomobile {
        width: 20%;
        max-width: none;
        height: auto;
    }
    @media only screen and (max-width: 600px) {
        .logomobile-container {
            width: 20%;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            margin-top:-17px;
        }

        .logomobile {
            width: 20%;
            max-width: none;
            height: auto;
        }

        @media only screen and (max-width: 376px) {
            .logomobile-container {
                height: 50px; /* adjust the height as needed */
            }

            .logomobile {
                min-width: 100%; /* ensure the image is sufficiently zoomed */
                height: auto;
                left: 10%;
                margin-left:0%;
            }
        }
    }
}

#registrationForm input,
#registrationForm button, #registrationForm form {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
}

.reserve-close {
    position: absolute;
    top: 49%;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* для кнопки "Отправить" редактировала ее по центру*/
.reservation-form .form-submit {
    display: block;
    width: 400%;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}



.modal form {
    background-color: #fefefe;
    margin: 2% auto;
    border: 1px solid #888;
    width: 25%;
    height: auto;
    font-size: 18px;
    margin-top:4%;
    padding:10px 2px 10px 2px;
}

.modal h2 {
    text-align: center;
    font-size: 16px;
}

.modal input {
    width: 70%;
    padding:10px 2px 10px 2px;
    margin-bottom: 7px;
    font-size: 18px;
}

.modal button {
    width: 75%;
    height: auto;
    padding: 7px;
    margin-top:4px;
    margin-bottom:4px;
    background-color: #fc86af;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    justify-content: center;
}

    .modal button:hover {
        opacity: 0.8;
    }

.modal p {
    font-size: 18px;
    text-align: center;
}

.modal h3 {
    text-align: center;
    font-size: 16px;
}

@media (max-width:376px) {
    .modal {
        z-index: 9999; /* Значение z-index должно быть достаточно большим */
    }
    .modal form {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 10px;
        border: 1px solid #888;
        width: 80%;
        height: auto;
        padding-top: 5%;
        font-size: 22px;
        z-index: 9999;
    }

    .modal h2 {
        text-align: center;
        font-size: 16px;
    }

    .modal input {
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 17px;
    }

    .modal button {
        width: 100%;
        height: auto;
        padding: 6px;
        background-color: #fc86af;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 2%;
        margin-bottom: 3%;
        font-size: 16px;
        justify-content: center;
    }

        .modal button:hover {
            opacity: 0.8;
        }

    .modal p {
        font-size: 16px;
        text-align: center;
    }

    .modal h3 {
        text-align: center;
        font-size: 16px;
    }

}

.loginForm button {
    margin-left: 13%;
}

.modal {
    z-index: 9999; /* Значение z-index должно быть достаточно большим */
}
@media (max-width: 376px) {
    .smiley-svg {
        width: 500px; /* Установите желаемый размер для мобильных устройств */
        height: 500px;
        padding:5px;
    }
}