
@charset "UTF-8";
body, html {
    margin: 0;
    padding: 0;
    background-color: #ffeef0;
    max-width: 100%;
    position: relative;
    height: 100%;
}

.flare {
    position: absolute;
    top: 0;
    height: 110%;
    width: 30%;
    transform: skewX(-35deg); /* ЭФФЕКТ ПОВОРОТА, НАКЛОННОСТИ БЛЕСКА НА КОНТЕЙНЕРАХ*/
    left: -50%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.07)); /* ПРОЗРАЧНОСТЬ - ОТ 0.01 ДО 0.07*/
    animation: flareAnimation 4s infinite linear;
}
@keyframes flareAnimation {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.button7 {
    height: 28px;
    width: auto;
    display: inline-block;
    text-align: center;
    color: black;
    cursor: pointer;
    background-color: #fff;
    -webkit-box-shadow: 0 0.5px 0.5px #fff;
    -moz-box-shadow: 0 0.5px 0.5px #fff;
    box-shadow: 0.5px 0.5px 0 #fff, inset 0 0.5px 0.5px rgba(0, 0, 0, 0.2);
    position: relative;
    background-image: linear-gradient(bottom, #666 0%, #ffdde1 50%);
    border-radius: 0.5px;
    font-family: 'Niconne', cursive;
    margin-left: 20px;
    margin-right: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.a_demo_two {
    display: inline-block;
    background-color: #fce3ec;
    padding: 5px;
    position: relative;
    font-family: 'Niconne', cursive;
    font-size: 15px;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(bottom, #666 0%, #ffdde1 100%);
    box-shadow: inset 0px 0px 0px #f395b6, 0px 6px 0px #f395b6;
    border-radius: 5px;
}

    .a_demo_two:active {
        display: inline-block;
        top: 7px;
        background-image: linear-gradient(bottom, rgb(252,227,236) 100%, rgb(250,209,223) 0%);
        box-shadow: inset 0px 1px 0px #f395b6, inset 0px -1px 0px #f395b6;
        color: #f395b6;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        background: rgb(252,227,236);
    }

    .a_demo_two::before {
        display: inline-block;
        background-color: #f395b6;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 4px;
        left: -2px;
        top: 5px;
        z-index: -1;
        border-radius: 6px;
        box-shadow: 0px 0px 0px #fff;
    }

    .a_demo_two:active::before {
        top: -2px;
    }




/* Для анимации: */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* CSS-эффект поворота!!!!!!!*/
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header, .menu, .content, .footer, .logo {
    animation: fadeInUp 1s ease-out;
}

header {
    text-align: center; /* !!!! ТЕКСТ ПО ЦЕНТРУ!*/
    background-color: #f9f9f9; /* Цвет фона шапки */
    padding: 0px 0; /* Отступы сверху и снизу */
    background-color: #ffeef0;
    max-width:100%;
}

.logo {
    max-width: 100%; /* Занимает всю ширину родительского элемента (шапки) */
    height: auto; /* Автоматическая высота */
    padding: 0px 0;
}

/* для панели навигации:*/
nav {
    background-color: #ffeef0;
    width: 100%;
    height: 100%; /* Устанавливаем высоту контейнера навигации */
    text-align: right;
    display: inline-block;
}
    nav ul {
        list-style: none; /* Убираем маркеры списка */
        padding: 0; /* Убираем отступы */
        margin: 0;
        align-items: center; /* Выравниваем элементы по вертикали */
        display: flex; /* Делаем элементы списка флекс-контейнером */
    }
    nav li {
        margin-right: 5px; /* Увеличиваем отступ между вкладками */
    }

    nav form {
        margin-left:auto;
        display: flex;
        align-items: center; /* Перемещаем форму к правому краю */
    }

    nav input[type="text"] {
        padding: 5px; /* Уменьшаем внутренние отступы */
        width: 500px; /* Задаем ширину поля ввода */
        height: 100px; /* Задаем высоту поля ввода */
        border-radius: 20px;
        border: 1px solid #f78eb3;
        font-size: 16px;
    }

    nav button {
        padding: 8px; /* Уменьшаем внутренние отступы */
        border: 30px;
        margin: 5px;
        background-color: #f78eb3;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        width: 70px; 
    }

    nav a {
        text-decoration: none;
        color: #333;
        font-family: 'Niconne', cursive;
        margin-left: 10px; /* Увеличиваем отступ слева для текста вкладок */
    }

/* Адаптивность панели навигации:*/

                                 /* МАЛЕНЬКИЕ ЭКРАНЫ*/
@media (max-width: 376px) {
    .logo {
        width: 100%;
        max-width: none;
        height: auto;
    }
    @media only screen and (max-width: 600px) {
        .logo-container {
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top:-17px;
        }

        .logo {
            width: 100%;
            max-width: none;
            height: auto;
        }

        @media only screen and (max-width: 600px) {
            .logo-container {
                width: 100vw; /* ensure container takes full viewport width */
                height: 100px; /* adjust the height as needed */
                overflow: hidden;
            }

            .logo {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                min-width: 200%;
                height: auto;
            }
        }

        @media only screen and (max-width: 376px) {
            .logo-container {
                height: 100px; /* adjust the height as needed */
            }

            .logo {
                min-width: 200%; /* ensure the image is sufficiently zoomed */
                height: auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .menu h1 {
        font-size: 130%;
    }

    .menu h2 {
        font-size: 110%;
    }

    .menu h3 {
        font-size: 90%;
    }

    .menu a {
        font-size: 80%;
    }

    nav a {
        font-size: 6px; 
        margin-left: 5px; 
    }

    nav input[type="text"] {
        padding: 2px;
        width: 50px; 
        height: 100%;
        font-size: 14px;
        margin-left: 10px;
    }

    nav button {
        width: 60px;
        padding: 2px 4px;
        font-size: 14px;
        padding: 10px;
    }
    .button7 {
        height: 10px; /* высота кнопки*/
        width: auto; /* ширина кнопки*/
        display: inline-block;
        text-align: center;
        color: black;
        cursor: pointer;
        background-color: #fff;
        -webkit-box-shadow: 0 0.2px 0.2px #fff;
        -moz-box-shadow: 0 0.2px 0.2px #fff;
        box-shadow: 0.1px 0.1px 0 #fff, inset 0 0.1px 0.1px rgba(0, 0, 0, 0.2);
        position: relative;
        background-image: linear-gradient(bottom, #666 0%, #ffdde1 20%);
        border-radius: 0.2px;
        font-family: 'Niconne', cursive;
        font-size:4px;
        margin-left: 2px;
        margin-right:1px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .a_demo_two {
        display: inline-block;
        background-color: #fce3ec;
        padding: 2px; /* вот это отвечает за отступы внутри !! кнопки */
        position: relative;
        font-family: 'Niconne', cursive;
        font-size:3px;
        text-decoration: none;
        color: black;
        background-image: linear-gradient(bottom, #666 0%, #ffdde1 100%);
        box-shadow: inset 0px 0px 0px #f395b6, 0px 3px 0px #f395b6; /* вот здесь тень от кнопки */
        border-radius: 3px;
    }

        .a_demo_two:active {
            display: inline-block;
            top: 1px;
            background-image: linear-gradient(bottom, rgb(252,227,236) 100%, rgb(250,209,223) 0%);
            box-shadow: inset 0px 0px 0px #f395b6, inset 0px -1px 0px #f395b6;
            color: #f395b6;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
            background: rgb(252,227,236);
        }

        .a_demo_two::before {
            display: inline-block;
            background-color: #f395b6;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            padding-left: 2px;
            padding-right: 2px;
            padding-bottom: 4px;
            left: -2px;
            top: 5px;
            z-index: -1;
            border-radius: 6px;
            box-shadow: 0px 0px 0px #fff;
        }

        .a_demo_two:active::before {
            top: -2px;
        }

}
@media only screen and (max-width: 480px) {
    input[type="number"]::placeholder {
        font-size: 7px; /* Уменьшаем размер шрифта для placeholder */
    }
}
@media only screen and (max-width: 480px) {
    form[name="auth"] {
        font-size: 7px; /* Уменьшаем размер шрифта */
        margin-left: 0; /* Убираем отрицательный отступ слева */
        margin-top: 0%; /* Уменьшаем отступ сверху */
    }
}
@media (max-width: 376px) {
    input[type="number"] {
        font-size: 7px; /* Уменьшаем размер шрифта для мобильных устройств */
        max-width: 100px; /* Уменьшаем максимальную ширину поля ввода */
        height: 10px;
        width:17px;

    }
    nav input[type="text"] {
        padding: 5px; /* Уменьшаем внутренние отступы */
        width: 230px; /* Задаем ширину поля ввода */
        height: 17px;
        margin: 2px;
    }
    nav button {
        padding:10px;
    }
}






                               /* БОЛЬШИЕ ЭКРАНЫ */
@media (min-width: 377px) {
    nav a {
        font-size: 115%; /* Задаем больший размер шрифта */
    }

    .menu h1 {
        font-size: 250%;
    }
    .menu h2 {
        font-size: 155%;
    }
    .menu h3 {
        font-size: 135%;
    }
    .menu a {
        font-size: 125%;
    }
    nav input[type="text"] {
        padding: 1%; /* Уменьшаем внутренние отступы */
        width: 400px; /* Задаем ширину поля ввода */
        height: 26px;
        margin:1%;
    }
   
}
                                /* УРА ЭТО МЕНЮ МЕНЮ МЕНЮ */
.menu {
    background-image: url( "https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666333827_48-mykaleidoscope-ru-p-ottenki-rozovogo-tsveta-oboi-49.jpg");
    background-size: cover; /* означает, что блок будет закрыт картинкой - конкретно тут надписью "cathome"*/
    position: relative;
    max-width: 100%;
    margin-top: 0.5%; /* расстояние между панелькой навигации и меню*/
    text-align: center;
    padding: 2% 2% 2% 2%; /* расстояния между элементами внутри*/
}
/* ЭТА ШТУКА ОТВЕЧАЕТ ЗА ШРИФТ В МЕНЮ*/
.menu-content {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Arial', cursive;
    text-shadow: 1px 1px 0px #f395b6;
}

.menu h1, .menu h2, .menu h3 {
    margin: 1.5%;
}

.menu nav {
    margin-top: 2%;
}
    .menu a {
        text-decoration: none;
        color: white;
        margin: 0 10px;
    }
h1 {
    font-family: 'Lobster';
}

.form-container {
    display: flex;
    justify-content: center; /* Центрируем формы по горизонтали внутри контейнера */
    gap: 20px;
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
    flex-wrap: wrap; /* Разрешаем элементам переноситься на новую строку при необходимости */
}

.search-form {
    background-color: #ffeef0;
    padding: 1%;
    border-radius: 10px;
    margin-right: 1%;
    margin-left: 1%;
    width: 48%; /* Устанавливаем ширину формы */
    max-width: 250px; /* Максимальная ширина формы */
}

.form-group {
    margin-bottom: 5%; /* Расстояние между элементами внутри формы */
}

label {
    display: block;
    font-size: 19px;
    font-family: 'Niconne', cursive;
}

select, button {
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 17px;
    margin-top: 5%;
    
}

button {
    background-color: #f78eb3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Niconne', cursive;
}

    button:hover {
        background-color: #f6acc6;
    }

/* Медиа-запрос для мобильных устройств, например, iPhone X */
@media (max-width: 376px) {
    .search-form {
        width: 21%; /* Уменьшаем ширину формы */
        padding: 1px; /* Уменьшаем отступы внутри формы */
        position:center;
        margin-left:16%; /* расположила форму с тестом на айфоне по центру экрана*/
        margin-bottom:5%; /* отступ от ежика*/
    }

    select, button {
        font-size: 25%; /* Уменьшаем размер шрифта */
    }

    label {
        display: block;
        font-size: 25%;
    }
    .filter_label{
        font-size:35%;
    }
   
}


@media (min-width:376px) {
    @media (max-width:1024px) {
        .search-form {
            width: 21%; /* Уменьшаем ширину формы */
            padding: 5px; /* Уменьшаем отступы внутри формы */
        }

        select, button {
            font-size: 100%; /* Уменьшаем размер шрифта */
        }

        label {
            display: block;
            font-size: 100%;
        }
        nav a {
            font-size: 16px;
            margin-left: 5px;
        }
        .button7 {
            height:30px; /* высота кнопки*/
            width: auto; /* ширина кнопки*/
            display: inline-block;
            text-align: center;
            color: black;
            cursor: pointer;
            background-color: #fff;
            -webkit-box-shadow: 0 0.2px 0.2px #fff;
            -moz-box-shadow: 0 0.2px 0.2px #fff;
            box-shadow: 0.1px 0.1px 0 #fff, inset 0 0.1px 0.1px rgba(0, 0, 0, 0.2);
            position: relative;
            background-image: linear-gradient(bottom, #666 0%, #ffdde1 20%);
            border-radius: 0.5px;
            font-family: 'Niconne', cursive;
            font-size: 4px;
            margin-left: 8px;
            margin-right: 8px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        }

        .a_demo_two {
            display: inline-block;
            background-color: #fce3ec;
            padding: 2px; /* вот это отвечает за отступы внутри !! кнопки */
            position: relative;
            font-family: 'Niconne', cursive;
            font-size: 3px;
            text-decoration: none;
            color: black;
            background-image: linear-gradient(bottom, #666 0%, #ffdde1 100%);
            box-shadow: inset 0px 0px 0px #f395b6, 0px 6px 0px #f395b6; /* вот здесь тень от кнопки */
            border-radius: 5px;
        }

            .a_demo_two:active {
                display: inline-block;
                top: 2px;
                background-image: linear-gradient(bottom, rgb(252,227,236) 100%, rgb(250,209,223) 0%);
                box-shadow: inset 0px 0px 0px #f395b6, inset 0px -3px 0px #f395b6;
                color: #f395b6;
                text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
                background: rgb(252,227,236);
            }

            .a_demo_two::before {
                display: inline-block;
                background-color: #f395b6;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                padding-left: 2px;
                padding-right: 2px;
                padding-bottom: 4px;
                left: -2px;
                top: 5px;
                z-index: -1;
                border-radius: 6px;
                box-shadow: 0px 0px 0px #fff;
            }

            .a_demo_two:active::before {
                top: -2px;
            }





    }
}



/* Стили для контейнера с изображениями и подписями */
.animal-container {
    display: inline-block;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    margin-top: 3px;
    padding: 1px;
    justify-content: flex-start;
    position: relative;
    margin-left: 10%;
}

.animal {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 20%; /* Ширина контейнера с изображением */
    text-align: center;
    margin: 0 1%; /* Уменьшаем горизонтальные отступы между контейнерами */
}

    .animal img {
        width: 100%; /* Изображение занимает всю ширину контейнера */
        border-radius: 10px;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5); /* ЭФФЕКТ ТЕНИ!!!!!!!!!!!!!!!!!!! */
    }

    .animal p {
        margin-top: 5px; /* Увеличиваем отступ между изображением и подписью */
        font-size: 20px;
        font-family: 'Niconne', cursive;
    }

/* Медиа-запрос для адаптивности */
@media (max-width: 768px) { 
    .animal { /* контейнеры для животных картиночки картиночки картиночки*/
        width: 70%; /* Изображения занимают меньшую ширину на мобильных устройствах */
        margin-bottom: 5px;
        border-radius:10px;
        margin-left:10%;
    }
    .animal p {
        margin-top: -20px;
        padding:1%;
        font-size: 18px;
        font-family: 'Niconne', cursive;
    }
}
.table {
    border-collapse: collapse;
    width: 27%;
}

th {
    text-align: center;
}

td {
    text-align: left;
    width: 1%;
}


.footer {
    background-color: #ffdde1;
    padding: 15px 0; /* Отступы внутри футера */
    text-align: center; /* Выравнивание текста по центру */
    margin-bottom: 3px;
    margin-top: 3%;
    opacity: 70%; /* CSS-эффект прозрачность (чем ниже процент - тем прозрачнее) !!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    filter: blur(0.1px); /* CSS-эффект размытие (чем больше др!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    transform: rotate(0deg); /*CSS-эффект поворота!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.footer-content {
    width: 100%;
    max-width: 600px; /* Максимальная ширина контента футера */
    margin: 0 auto; /* Центрирование содержимого */
}

.table {
    width: 100%;
    max-width: 90%; /* Ширина таблицы */
    margin: 0 auto; /* Центрирование таблицы */
    margin-bottom: 3px; /* Отступ снизу для таблицы */
}

    .table th, .table td {
        padding: 5px;
        font-size: 18px;
    }

.copyright {
    font-size: 20px; /* Размер шрифта для текста о правах */
    margin-bottom: 3px; /* Отступ снизу для таблицы */
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 376px) {
    .footer {
        margin-bottom: 1%;
        margin-top: 5%;
    }
    .table {
        max-width: 70%; /* Увеличиваем ширину таблицы на мобильных устройствах */
        margin-bottom: 1px;
    }

        .table th, .table td {
            padding: 1px;
            font-size: 8px; /* Уменьшаем размер шрифта в таблице на мобильных устройствах */
        }

    .copyright {
        font-size: 18px; /* Уменьшаем размер шрифта для текста о правах на мобильных устройствах */
        margin-bottom: 5px; 
        margin-left: -5px; 
    }
    .form-container1 {
        max-width: 100px;
    }
    .container1 h2 {
        font-size: 16px;
        padding:0px;
        margin:0px
    }

}
/* вот здесь контейнер 1 для кликбейтааааааааааааа мол давайте пройдем тест и посмотрим кто подхоооооооооодит */
.container1 {
    text-align: center;
    color: #ff7baa;
    text-shadow: 2px 0px 0px white;
    font-weight: 100;
    font-family: 'Niconne', cursive;
    font-size: 18px;
    padding: 2%;
    margin-bottom: 0;
    background-image: linear-gradient(90deg, #ffdbdf 50%, transparent 20% ); /* Градиентный фон */ /* ГРАДИЕЕНТНЫЙ ФОН !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    background-size: 200% 100%;
    background-position: 100%;

}
.container1:hover {
    background-position: 0; /* Сдвиг фона */
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 20px;
    z-index: 9;
}
/* здесь контейнер чисто для области вокруг формочек и вопросиков, вот этот маленький квадратик с самим тестом*/
.form-container1 {
    max-width: 400px;
}
/* а это поля раскрывающейся формы ответов с да, нет и тд*/
    .form-container1 select {
        width: 100%;
        padding: 8px;
        margin: 8px 0;
        box-sizing: border-box;

    }

.button1 {
    background-color: #4CAF50;
    color: white;
    padding: 5px 1px;
    border: none;
    cursor: pointer;
    left:100%;
    
}

    .button1:hover {
        opacity: 0.8;
    }




.pet-ad {
    position: relative; /* Для позиционирования модальных окон относительно контейнера */
}

.reservation-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
    text-align: center;

}

.modal-content form {
    margin-top: 20px;

}

.modal-content button {
    margin-top: 10px;
}


.modal {
    position:relative;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal {
    top: 10%;
    left: 40%; /* отвечает за расположение теста по центру страницы*/
    width: 20%; /* отвечает за ширину этого невидимого пространства вокруг формы*/
    height: 100%;
    background-color: #ffeef0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .modal form {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }



.close {
    top: 12%;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 150%;
    cursor: pointer;

}

.result-container {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
@media (max-width: 376px) {
    .button1 {
        background-color: #4CAF50;
        color: white;
        padding: 5px 1px;
        border: none;
        cursor: pointer;
        width: 900px;
        margin-left: 30%;
        margin-top: -15%;
        position:center;
        display:flex;
    }
    .modal-content form {
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .modal {
        position: relative;
        top: 1px;
        left: 13%; /* расположение формы с тестом*/
        width: 50%; /* максимальаня ширина без гор прокрутки*/
        background-color: #ffeef0;
        display: flex;
        justify-content: left;
        align-items: center;
    }

        .modal form {
            padding: 1px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    .form-container1 select {
        width: 150%;
        padding: 8px;
        margin: 1px 0;
        box-sizing: border-box;
        font-size: 14px;
    }
    .form-container1 button { /* вот здесь кнопочка "Результат" в формочке от тестаааа*/
        width: 150%;
        margin-top:-20px;
        padding:8px;
    }
    .form-container1 label{
        margin-top:5px;
        margin-bottom:-20px;
        width:150%;
    }

        .modal-content h2 {
        font-size: 18px; /* "Ответьте на несколько вопросов"*/
        margin-top: 15px;
        width: 140%;
        margin-left:10%;
    }

    .modal-content {
        font-size: 60px;
        max-width: 200%;
        margin-top:-10px;
        margin-bottom:-10px;
    }

    .form-container1 {  /* весь контейнер с тестом*/
        max-width: 500px;
        margin-top: 10px; /* расстояние от контейнера с тестом до объектов*/
    }

    .container1 {
        text-align: center;
        color: #ff7baa;
        text-shadow: 2px 0px 0px white;
        font-weight: 100;
        font-family: 'Niconne', cursive;
        font-size: 18px;
        padding: 1%;
        margin-bottom: 0; /* Или установите меньшее значение, например, 3px или 2px */
        width: auto
    }


    .result-container {
        text-align: center;
        margin-top: 10px;
        font-size: 18px;
        margin-right: 5px;
        margin-left: 5px;
    }

}
@media (max-width: 375px) {
    .result-container { /* контейнер с результатом теста на то, какой питомец подходит!!!! */
        font-family: 'Niconne', cursive;
        text-align: center;
        margin-top: 10px;
        font-size: 17px;
        margin-right: 5px;
        margin-left: 0%; /* тест идеально ровняется по ширине экрана*/
        width: 150%; /* ширина контейнера с надписью*/
    }

    .form-container select {
        width: 280px; /* размер формы на выбор питомца - ширина окошечек "все города", "любой" и тд */
        padding: 8px;
        margin: 1px 0;
        box-sizing: border-box;
        font-size: 16px;
        margin-left: -16px;
        margin-top: 1%;
    }

    .form-container label {
        margin-left: 0px;
        margin-bottom: 10px;
        width: 250px;
        font-size: 16px;
        margin-top: 1%;
    }
    .form-container {

        display: grid;

    }
    /* Стилизация для мобильных устройств, например, iPhone X */

    /* Изменяем размер шрифта для ответов в селекторах */
    #walks option,
    #lifespan option,
    #size option {
        font-size: 16px; /* Здесь задайте желаемый размер шрифта */
    }

        /* Или если нужно изменить только для определенных ответов: */
        #walks option[value="yes"],
        #walks option[value="no"],
        #lifespan option[value="long"],
        #lifespan option[value="any"],
        #size option[value="large"],
        #size option[value="small"] {
            font-size: 16px; /* Здесь задайте желаемый размер шрифта */
        }
}
@media (max-width: 375px) {
    /* Стилизация для мобильных устройств, например, iPhone X */

    /* Увеличиваем размер кнопки */
    .container1 button {
        font-size: 8px; /* Устанавливаем желаемый размер шрифта */
        padding: 2px; /* Увеличиваем внутренний отступ */
    }
    .search-form button {
        width:280px;
        padding:7px;
        margin-top: 15px;
        margin-left: -15px;
        font-size:17px;
    }

}

@media only screen and (max-width: 768px) { /* для цен на мобильных устройствах*/
    .price-filter {
        display: none;
    }
}


/* резервируем питомцев*/

.pet-ad {
    position: relative; /* Для позиционирования модальных окон относительно контейнера */
}
.reserve-button {
    background-color: #fe70a4;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}


    .reservation-form form {
        display: flex;
        flex-direction: column;
    }

    .reservation-form label {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .reservation-form input[type="date"],
    .reservation-form input[type="time"],
    .reservation-form input[type="text"] {
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }

    .reservation-form button {
        background-color: #fe70a4;
        color: white;
        cursor: pointer;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50px;
    text-align: center;
}

    .popup h2 {
        margin-bottom: 20px;
    }

    .popup form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popup label {
        margin-bottom: 10px;
    }

    .popup input {
        padding: 8px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .popup button {
        background-color: #fe70a4;
        color: white;
        cursor: pointer;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 10px;
    }



/* Стили для сообщения о необходимости регистрации или входа */
#loginMessage {
    margin-top: 20px;
}

    #loginMessage p {
        font-size: 16px;
    }

    #loginMessage a {
        color: #fe70a4;
        text-decoration: none;
    }

        #loginMessage a:hover {
            text-decoration: underline;
        }

.reservation-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.toggle-password {
    cursor: pointer;
    user-select: none;
    color: #666;
    font-size: 14px;
    margin-left: 5px;
}

    .toggle-password:hover {
        color: #000;
    }



/* пытаюсь скрыть форму теста*/
.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
}

/* Скрыть форму по умолчанию на мобильных устройствах */
@media (max-width: 376px) {
    .form-container {
        display: none;
    }

    .form-toggle-btn {

        display: block;
        width: 50%;
        padding: 10px;
        background-color: #f395b6;
        color: #fff;
        text-align: center;
        cursor: pointer;
        font-size: 18px;
        position: relative;
        margin: 5px 23% 8%;
        border-radius: 5px;
        justify-content:center;
    }
    .menu a{
        display:grid;
        padding:1.5%;
    }
}
@media (min-width: 377px) {
    .form-toggle-btn {
        display: none;
    }
}
@media (min-width: 377px) {
    .nav {
        display: none;
    }
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 767px) {
    .footer .table {
        display: block;
    }

    .footer th, .footer td {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 18px; /* Увеличиваем шрифт */
    }

    .footer th {
        margin-top: 10px;
    }

    .footer td {
        margin-bottom: 10px;
    }
}
@media (max-width: 767px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
    }

    .contact-item {
        text-align: center;
        width: 100%;
        font-size: 18px; /* Увеличиваем шрифт */

    }

        .contact-item h3 {
            font-size: 1.4em; /* Увеличиваем шрифт заголовков */
        }

        .contact-item p {
            margin-bottom: 10px;
        }
}

/* поработаем над панелью навигации <3 */



/* Скрытие кнопок при ширине экрана меньше 768px (примерно мобильные устройства) */



/* Отображение иконки "бургера" при маленьких экранах */
@media (max-width: 768px) {
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu {
        display: none;
    }
}



/* Мобильное меню */
.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

.burger-line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    margin-left:-10px;
    margin-right:10px;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 50px;
    left: 40px;
    background-color: #fff;
    padding: 10px;
    z-index: 9999; /* Высокий z-index для отображения поверх всех элементов */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

    .mobile-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

        .mobile-menu ul li {
            padding: 8px 0;
            text-decoration: none;
        }

/* Отображение иконки "бургера" и скрытие десктопного меню на маленьких экранах */
@media (max-width: 768px) {
    .mobile-menu-icon {
        display: block;
    }

    .desktop-menu {
        display: none;
    }
    .mobile-menu .button7 {
        font-size: 15px;
        display: grid;
        padding: 11px;
        margin-bottom: 18px;
        justify-content: center;
        list-style: none; /* Убираем маркеры списка */
        text-decoration:none;
    }

    .mobile-menu .button_a_demo_two {
        font-size: 10px;
        display: grid;
        padding: 9px;
        justify-content: center;
        text-decoration: none;
    }


    .mobile-menu.mobile-menu-open {
        display: block;
    }

}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.mobile-menu-icon {
    display: none; /* Скроем иконку мобильного меню на десктопе */
}

nav.desktop-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

    nav.desktop-menu ul li {
        margin: 0 15px;
    }

        nav.desktop-menu ul li a {
            text-decoration: none;
            
        }

nav.search-form ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

    nav.search-form ul li {
        margin-left: 15px;
    }

@media (max-width: 768px) {
    .desktop-menu {
        display: none; /* Скрываем десктопное меню на мобильных устройствах */
    }

    .mobile-menu-icon {
        display: block; /* Показываем иконку мобильного меню на мобильных устройствах */
    }

    .mobile-menu {
        display: none; /* Изначально скрыто мобильное меню */
    }

    .mobile-menu-icon.active + .mobile-menu {
        display: block; /* Показываем мобильное меню, когда иконка активна */
    }
}
